body.no-scroll {
  overflow: hidden; /* Prevent the story scrolling whil splash screen in place */
  background-color: #a25d35; /* Background color while the embedded story loads */
}
/* Splash screen overlay */
.splash-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.splash-overlay .splash-screen {
  text-align: center;
  background-color: #a25d35;
  min-width: 350px;
  max-width: 50%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.splash-overlay .splash-screen h1 {
  font-family: "Sigmar One";
  color: #ffd38e;
  font-size: 3em;
  margin-bottom: 10px;
}

.splash-overlay .splash-screen p {
  font-family: "Sigmar";
  color: #fff8e9;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.splash-overlay .splash-screen button {
  font-family: "Sigmar One";
  padding: 10px 20px;
  font-size: 1.5em;
  color: #fff8e9;
  background-color: #55290c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.splash-overlay .splash-screen button:hover {
  background-color: #3a1c08;
}
