[data-blockid='n-bRWnpQ'] button {
    background-color: #469C98 !important;
}

[data-blockid='n-pQuKXV'] button {
    background-color: #9EAA26 !important;
}

[data-blockid='n-zAsTcP'] button {
    background-color: #F25B3A !important;
}

[data-blockid='n-5yEQnE'] button {
    background-color: #E6C954 !important;
}

body {
    margin: 0;
  }