/* Replace cover title font and image cutout */
h1.sc-title {
    font-family: "Six Caps", sans-serif;
    font-size: 2750%;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: #DDD3D9;
    /* This sets the background image and clips it to the text characters */
    background: url(https://cdn.arcgis.com/sharing/rest/content/items/e857e2e8b0f34597999077a04dba4350/resources/C1VCMdFCo1WDwDyUI1NX0.jpeg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* Knock back the visibility of the cover image */
div.media-panel.background img {
  color: #0F1116;
  opacity: 0.2;
}